<table class="ui table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Opus 9 </td>
      <td> Beethoven </td>
    </tr>
    <tr>
      <td> Opus 23 </td>
      <td> Beethoven </td>
    </tr>
    <tr>
      <td> Opus 33 </td>
      <td> Beethoven </td>
    </tr>
  </tbody>
</table>