{{> welcomemenu}}

<section class="ui divided list segment">
  {{#each playlists}}
    <div class="item">
      <i class="large browser icon"></i>
      <div class="content">
        <a href="/playlist/{{id}}" class="header">{{title}}</a>
      </div>
    </div>
  {{/each}}
</section>