<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Playlist Maker
  </h1>
  <section class="ui raised segment">
    <h2 class="ui header">
      Playlist 1
    </h2>
    {{> list}}
  </section>
</section>