<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Playlist Maker </title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="ui container">
      <section class="ui center aligned middle aligned segment">
        <h1 class="ui header">
          Welcome to Playlist Maker
        </h1>
        <section class="ui raised segment">
          <h2 class="ui header">
            Playlist 1
          </h2>
          <table class="ui table">
            <thead>
              <tr>
                <th>Song</th>
                <th>Artist</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Opus 9 </td>
                <td> Beethoven </td>
              </tr>
              <tr>
                <td> Opus 23 </td>
                <td> Beethoven </td>
              </tr>
              <tr>
                <td> Opus 33 </td>
                <td> Beethoven </td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </div>
  </body>
</html>
